@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


/*
lg - large: 
md - medium: 1010px
sm - small: 768px
xs - extra small: 375px
*/
@mixin respond($type) {
    @if $type == lg {
        @media (max-width: 2560px) {
            @content
        }
    };
    @if $type == md {
        @media (max-width: 1024px) {
            @content
        }
    };
    @if $type == sm {
        @media (max-width: 768px) {
            @content
        }
    };
    @if $type == xs {
        @media (max-width: 425px) {
            @content
        }
    };
}