*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Slab', serif;

    @include respond(md) {
        font-size: 56.25%;
    }

    @include respond(sm) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
}